# Database
DB_HOST=
DB_PORT=
DB_NAME=
DB_USER=
DB_PASSWORD=

# Server
PORT=
NODE_ENV=
ORIGIN_URL=
TZ=

# API Key
API_KEY=

# Token Info
ACCESS_TOKEN_VALIDITY_SEC=
REFRESH_TOKEN_VALIDITY_SEC=
TOKEN_ISSUER=
TOKEN_AUDIENCE=
JWT_PRIVATE_KEY_BASE64=
JWT_PUBLIC_KEY_BASE64=

# Cookie Info
COOKIE_MAX_AGE_SEC=
COOKIE_DOMAIN=

# Log Directory
LOG_DIRECTORY=

# AWS Credentials
AWS_REGION=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=

# System Email
SYSTEM_EMAIL=